<div class="demo">
  <div class="container">
    <div class="row text-center">
      <h1 class="heading-title">Membership Options</h1>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-6">
        <div class="pricingTable">
          <div class="pricingTable-header">
              <h3 class="heading">Single 40-Min Ride</h3>
              <span class="subtitle">Perfect for a joy ride</span>
              <div class="price-value">3
                  <span class="ride"> /ride</span>
              </div>
          </div>
          <ul class="pricing-content">
              <li>Pay $3.00 dollars for a ride</li>
              <li>Dock within 40 mins to avoid late fees</li>
          </ul>
          <a href="#" class="read">sign up<i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    
      <div class="col-md-5 col-md-6">
        <div class="pricingTable">
          <div class="pricingTable-header">
              <h3 class="heading">2-hour Ride Pass</h3>
              <span class="subtitle">When you want a relaxed ride</span>
              <div class="price-value">10
                  <span class="ride"> /ride</span>
              </div>
          </div>
          <ul class="pricing-content">
              <li>10 dollars for a 2 hour ride</li>
              <li>50 Email Accounts</li>
          </ul>
          <a href="#" class="read">sign up<i class="fa fa-angle-right"></i></a>
        </div>
      </div>

      <div class="col-md-5 col-md-6">
        <div class="pricingTable">
          <div class="pricingTable-header">
              <h3 class="heading">Monthly Pass</h3>
              <span class="subtitle">In the community for a good while</span>
              <div class="price-value">20
                  <span class="ride">/mo</span>
              </div>
          </div>
          <ul class="pricing-content">
              <li>Available for one month</li>
              <li>One 40 minute ride per day</li>
          </ul>
          <a href="#" class="read">sign up<i class="fa fa-angle-right"></i></a>
        </div>
      </div>

      <div class="col-md-5 col-md-6">
        <div class="pricingTable">
          <div class="pricingTable-header">
              <h3 class="heading">Annual Pass</h3>
              <span class="subtitle">Great for exploring all the trails</span>
              <div class="price-value">89
                  <span class="ride">/yr</span>
              </div>
          </div>
          <ul class="pricing-content">
              <li>Available for one year</li>
              <li>One 40 minute ride per day</li>
          </ul>
          <a href="#" class="read">sign up<i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
    

