<div>
   <!--Creating the radio button and label for user to be able to pick bikes -->
  <%= form.radio_button :bike_id, bike.identifier, checked: true %>
  <%= form.label :bike_id, "Bike Name #{bike.nickname}", value: bike.identifier %>
</div>
