<div class="gallery-item">
  <%= link_to station[:name], station_path(station[:identifier]), class: "btn" %>
  <%= image_tag("bikepic1.jpg", class: "gallery-image", alt: "Station Image") %>
</div>
