<!-- Source of reference https://getbootstrap.com/docs/4.0/components/carousel/#carouselcycle -->

<div class="section-inner flexbox vertical stretch">
  <h1 class ="typewriter"><span class="waving-hand">🔍</span>Explore Nipmuc</h1>


    <%# <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: url('https://bootstrapious.com/tutorial/carousel/img/carousel1.jpg');">
      
      <div class="item" style="background-image: url('https://bootstrapious.com/tutorial/carousel/img/carousel2.jpg');">
        </div>
      </div>

      <div class="item" style="background-image: url('https://bootstrapious.com/tutorial/carousel/img/carousel3.jpg');">
        </div>
      </div>
      
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
 

      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
      
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
      </div>
    </div>
  </div> %>

  <div class="container-resources">
  <h3><br>Our Stations</h3>

  <!-- TODO: THIS IS A FORM ELEMENT!!!! -->
  <div class="gallery">
    <%= render(partial: "stations/item", collection: @stations, as: :station) %>
  </div>
</div>
