<h1>Hello this is the homepage</h1>
<p> pls use application found in layout for the design. link back to this page </p>
<!--where the map will show up in  -->
<div id="map"></div>
<%= javascript_include_tag "map" %>