<head> 
<%# Unsure if this is needed here hecause it still does not work as expected, when we go back to home it does not render%>
<%# CSS for leaflet %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
crossorigin=""/>
<%# Javascript for leaflet %>
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
crossorigin=""></script>
</head>

<h1>Hello this is the homepage</h1>
<p> pls use application found in layout for the design. link back to this page </p>
<div id="map"></div>