<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div>
    <h1>Hydrabike</h1>
    <h3>Affordable and accessible bikes for all</h3>

    <div id="map"></div>
</div>
<script type="module">
  <%= render(partial: 'home/map', formats: [:js]) %>
</script>
