<!DOCTYPE html>
<html>
<head>
  <title>About us</title>
  <link rel="stylesheet" type="text/css" href="about.css">
  <link res="stylesheet" type="text/css" href="'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'">
</head>
<body>

  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">About</h1>
        <h3 class="mb-3">We at Hydrabike are passionate about the joys of biking. Whether that means spending time with your loved ones or traveling the world, our bike sharing program is designed to support you and your unique lifestyle.</h3>
      </div>
    </div>
  </div>

  <%# <div class="about">
    <h1>Our Mission</h1>
    <h3>Simply put, we at Hydrabike are passionate about the joys of biking.
    <h3> Whether that means spending time with your loved ones or traveling the world, our bike sharing program is designed to support you and your unique lifestyle.</h3>
  </div> %>
  
  <div class="wrapper">
    <div class="card-group">
      <div class="card">
        <box-icon name='money-withdraw'></box-icon>
        <h2>Affordable</h2>
        <p>Our memberships are tailored to fit your specific needs while maintaining affordable prices</p>
      </div>
    
      <div class="card">
        <box-icon name='heart'></box-icon>
        <h2>Accessible</h2>
        <p>You can find our services anytime, anywhere!</p>
      </div>

      <div class="card">
        <box-icon name='universal-access' ></box-icon>
        <h2>Adaptive</h2>
        <p>Our memberships are tailored to fit your specific needs while maintaining affordable prices</p>
      </div>

      <div class="card">
        <box-icon name='cycling'></box-icon>
        <h2>Adventurous</h2>
        <p>Choose a bike that fits your riding style! Check ot our resources page with lots of tips and tricks!</p>
      </div>
   </div>
  </div>

  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>

