

		<!-- Header -->
		<header class="mainHeader">
			<div class="container-fluid h-100">
				<div class="row align-items-center justify-content-center text-center text-white h-100" style="background-color: rgba(0, 0, 0, 0.2);">
					<div class="col-lg-8">
						<h1 class ="typewriter"><span class="waving-hand">👋</span>About Us</h1>

						<hr class="my-4 bg-white" />

						<p>
							Nestled in the heart of Nipmuc Notch, we at Hydrabike are passionate about the joys of biking. Our bike sharing program is designed to support you and your unique lifestyle.
						</p>
					</div>
				</div>
			</div>
		</header>







  
  <div class="wrapper">

    <div class="content-box">
      <div class="card">
        <box-icon name='money-withdraw'></box-icon>
        <h2>Affordable</h2>
        <p>Our memberships are tailored to fit your specific needs while maintaining affordable prices</p>
      </div>
    
      <div class="card">
        <box-icon name='heart'></box-icon>
        <h2>Accessible</h2>
        <p>You can find our services anytime, anywhere!</p>
      </div>

      <div class="card">
        <box-icon name='universal-access' ></box-icon>
        <h2>Adaptive</h2>
        <p>Our memberships are tailored to fit your specific needs while maintaining affordable prices</p>
      </div>

      <div class="card">
        <box-icon name='cycling'></box-icon>
        <h2>Adventurous</h2>
        <p>Choose a bike that fits your riding style! Check ot our resources page with lots of tips and tricks!</p>
      </div>

   </div>





  </div>





  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>

