<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="about.css">
</head>
<body>

<div class="about-section">
  <h1>Hyrabike</h1>
  <p>Simply put, we at Hydrabike are passionate about the joys of biking. Whether that means spending time with your loved ones or traveling the world, our bike sharing program is designed to support you and your unique lifestyle.</p>
  <p>Our program is grounded in three principles</p>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <%= image_tag('mountain_bike.jpg', alt: 'ValetBike') %>
      <div class="container">
        <h2>Adventure</h2>
        <p>Our memberships are tailored to fit your specific needs while maintaining affordable prices</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%= image_tag('mountain_bike.jpg', alt: 'ValetBike') %>
      <div class="container">
        <h2>Accessible</h2>
        <p>It's about you and we want to support you! All functions of the program are designed with accessibility in mind</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <%= image_tag('mountain_bike.jpg', alt: 'ValetBike') %>
      <div class="container">
        <h2>Adventurous</h2>
        <p>Choose a bike that fits your riding style! Check ot our resources page with lots of tips and tricks!</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
