*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.about{
  padding: 50px;
    text-align: center;
    background-color: #08085C;
    color: white;
}

.about h3{
  color:#BFBFC9;
}

.h3{
  /* display:flex; */
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.wrapper{
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background:#fafafa;
  padding-top: 35px;
  font-family: 'raleway';
}

.h1{
  display:flex;
  font-size:3em;
  margin:25 px 0;
  text-align: center;
  font-weight: 500;
  align-items:center;
}

.p{
  display:flex;
  text-align: center;
}

.content-box{
  width:1000px;
  margin:0 auto;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.card{
  min-height: 220px;
  width:320px;
  padding:30px;
  border-radius: 5px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin: 10px 4px;
  box-shadow: 0px 15px 30px rgba(0,0,0.2);
}

.card h2{
  margin-bottom: 12px;
  font-weight:400;
  text-align:center;
  color:#00008B;
}

.card p{
  font-size: 15px;
  color:#6c757d;
  text-align:center;
}


.card:hover i,
.card:hover p{
  color:#fff
}
.card:hover h2{
  font-weight:800;
  color:#fff;
}

.card:nth-child(1):hover{
  background: linear-gradient(45deg,
                              rgba(25,25,112,0.5)0%,
                              rgba(25,25,112,0.8)100%),
                              url('affordable.jpg');
  background-size: cover;
}
.card:nth-child(2):hover{
  background: linear-gradient(45deg,
                              rgba(25,25,112,0.5)0%,
                              rgba(25,25,112,0.8)100%),
                              url('accessible.jpeg');
  background-size: cover;
}
.card:nth-child(3):hover{
  background: linear-gradient(45deg,
                              rgba(25,25,112,0.5)0%,
                              rgba(25,25,112,0.8)100%),
                              url('adaptive.jpg');
  background-size: cover;
}
.card:nth-child(4):hover{
  background: linear-gradient(45deg,
                              rgba(25,25,112,0.5)0%,
                              rgba(25,25,112,0.8)100%),
                              url('adventurous.jpg');
  background-size: cover;
}

.card:nth-child(5):hover{
  background: linear-gradient(45deg,
                              rgba(25,25,112,0.5)0%,
                              rgba(25,25,112,0.8)100%),
                              url('adventurous.jpg');
  background-size: cover;
}

.card:nth-child(6):hover{
  background: linear-gradient(45deg,
                              rgba(25,25,112,0.5)0%,
                              rgba(25,25,112,0.8)100%),
                              url('adventurous.jpg');
  background-size: cover;
}

/* reponsive */
@media(max-width:991px){
  .wrapper{
    padding:25px;
  }
  .wrapper h1{
    font-size: 2.5em;
    font-weight: 600;
  }
  .content-box{
    flex-direction: column;
    width: 100%;
  }
  .card{
    min-width: 300px;
    margin:10px auto;
  }
}



