*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.about{
  padding: 50px;
    text-align: center;
    background-color: #024b15;
    color: white;
}

.mb-3{
  padding: 30px;
}

.h3{
  justify-content:center;
  align-items: center;
  font-size: 40px !important;
}

.h2{
  /* display:flex; */
  justify-content:center;
  align-items: center;
  /* flex-direction: column; */
}

.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
}

/* .wrapper{
width: 100%;
  display: inline-block;
  margin: 0 auto;
  transition: width .1s;
} */

.h1{
  display:flex;
  font-size:3em;
  margin:25 px 0;
  text-align: center;
  font-weight: 500;
  align-items:center;
}

.p{
  display:flex;
  text-align: center;
}

/* .content-box{
  width:1000px;
  margin:0 auto;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
} */

.card-group {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.card{
  min-height: 220px;
  width: 400px;
  padding:30px;
  margin: 35px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 15px 30px rgba(0,0,0.2);
}

.container{
    width: 100%;
    min-width: 1000px;
    display: inline-block;
}

.card h2 {
  margin-bottom: 12px;
  font-size: 43px !important;
  font-weight: 30;
  text-align:center;
  color:#00008B;
}

.card p{
  font-size: 15px;
  color:#6c757d;
  text-align:center;
}


.card:hover i,
.card:hover p{
  color:#fff
}
.card:hover h2{
  font-weight:800;
  color:#fff;
}

.card:nth-child(1):hover{
  background: linear-gradient(45deg,
 rgba(25, 133, 99, 0.5)0%,
 rgba(17, 101, 4, 0.8)100%),
url('affordable.jpg');
  background-size: cover;
}
.card:nth-child(2):hover{
  background: linear-gradient(45deg,
 rgba(25, 133, 99, 0.5)0%,
  rgba(17, 101, 4, 0.8)100%),
 url('accessible.jpeg');
  background-size: cover;
}
.card:nth-child(3):hover{
  background: linear-gradient(45deg,
  rgba(25, 133, 99, 0.5)0%,
  rgba(17, 101, 4, 0.8)100%),
  url('adaptive.jpg');
  background-size: cover;
}
.card:nth-child(4):hover{
  background: linear-gradient(45deg,
  rgba(25, 133, 99, 0.5)0%,
  rgba(17, 101, 4, 0.8)100%),
                              url('adventurous.jpg');
  background-size: cover;
}

.card:nth-child(5):hover{
  background: linear-gradient(45deg,
  rgba(25, 133, 99, 0.5)0%,
  rgba(17, 101, 4, 0.8)100%),
                              url('adventurous.jpg');
  background-size: cover;
}

.card:nth-child(6):hover{
  background: linear-gradient(45deg,
  rgba(25, 133, 99, 0.5)0%,
  rgba(17, 101, 4, 0.8)100%),
                              url('adventurous.jpg');
  background-size: cover;
}

/* reponsive */
@media(max-width:991px){
  .wrapper{
    padding:25px;
  }
  .wrapper h1{
    font-size: 2.5em;
    font-weight: 600;
  }
  .content-box{
    flex-direction: column;
    width: 100%;
  }
  .card{
    min-width: 300px;
    margin:10px auto;
  }
}



